body {
  background-image: url("hearts.jpg");
}
.games {
  border-style: groove;
  border-width: 20px;
  border-color: pink;
}
.animals {
  border-style: groove;
  border-width: 20px;
  border-color: mediumpurple;
}
.drinks {
  border-style: groove;
  border-width: 20px;
  border-color: pink;
}
.cars {
  border-style: groove;
  border-width: 20px;
  border-color: mediumpurple;
}
.love {
  border-style: groove;
  border-width: 20px;
  border-color: pink;
}
